.post-review-form{
    background-color: gray;
    font-size: 2em;
    position: relative;
    z-index: 5;
    background-image: linear-gradient(to left, rgb(22, 33, 51), rgb(18, 28, 47));
    color: rgb(211, 211, 211);
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-top: 40px;
    box-shadow: inset 0 0 30px rgba(51, 60, 51, 0.813);
    border: 1px solid rgba(255, 255, 255, 0.508);
    display: flex;
    flex-direction: column;


}

.post-review-form > * {
    position: relative;
    margin-top: 20px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);

}


.post-review-input{
    background-color: rgba(171, 167, 167, 0.318);
    color: white;

    border: solid 1px rgba(255, 255, 255, 0.43);
    height: 3rem;

    margin-bottom: 30px;
    font-size: 1.2rem
}

.post-review-category-drop{
    font-size: 1.5rem;
    background-color: transparent;
    color: white;
    border-radius: 50px;
    height: 30px;
}

.review-submit-button{
    margin-bottom: 50px;
}

.post-review-body-input{
    min-height: 500px;
    min-width: 80%;
    max-width: 80%;

}

